@{
    ViewBag.Title = "Kim jestesmy?";
}
<div>
    <a style="" class="navbar-left"><img src="~/ViewImages/about.jpg" style="width:160px;" /></a>
</div>
<div style="padding-top: 50px; padding-left: 200px;">
    <h2 style="color:aliceblue; font-family:'28 Days Later'; font-size:50px;">@ViewBag.Title</h2>
</div>
<div style="padding-top: 60px; padding-left: 60px;">
    <p style="color:aliceblue; font-family:Cambria; font-size:20px">
        Grupą młodych pasjonatów, która nie boi się wyzwań. Stawiamy na solidne rozwiązania stroniąc od globalizacji i komercji.<br />
        Realizujemy autorskie pomysły, nie według utartych scenariuszy lecz częściej pod wpływem chwili.<br />
        Pomysły czerpiemy z codziennych potrzeb, jesteśmy dobrymi obserwatorami.<br />
        <br />
        Co nas wyróżnia ?<br />
        Prosty design.<br />
        Własne serwery.<br />
        Porządek.<br />
        Dostępność,<br />
        <br />
        Co oferujemy?<br />
        <br />
        Kontrole nad twoimi fotkami, zdjęciami czy grafikami.<br />
        Proste grupowanie w odpowiednie foldery i katalogi.<br />
        Już nie zgubisz selfi w ogromie zsynchronizowanych zdjęć.<br />
        Sam decydujesz. Intuicyjny interfejs daje poczucie kontroli.<br />
        A własne serwery - nasza chmura są gwarancją bezpieczeństwa.<br />
        <br />
        Nie czekaj ? Dołącz do nas !<br />
        <br />
        Masz pytania? Jakieś wątpliwości ? Wyślij wiadomość. Z chęcią Ci pomożemy.
    </p>
</div>
