@{
    ViewBag.Title = "Kim jesteśmy?";
}
<h2 style="color:aliceblue; font-family:Cambria">@ViewBag.Title</h2>

<p style="color:aliceblue; font-family:Cambria">Use this area to provide additional information.</pstyle="color:aliceblue;>
