@{
    ViewBag.Title = "Kontakt";
}
<h2 style="color:aliceblue; font-family:Cambria">@ViewBag.Title</h2>
<br />
<address style="color:white; font-family:Cambria; font-size:20px">
    ImageCloud Sp. z o.o.<br />
    Warszawa, ul. Koszykowa 61<br />
    <abbr title="Phone">Telefon :</abbr>
    +48 799 785 214<br />
    <a href="mailto:adres kontakt@imagecloud.com" style="color:lightblue">kontakt@imagecloud.com</a>
</address>
