@model  IEnumerable<ImageCloudMVC.Models.NewsListView>

@{
    ViewData["Title"] = "Start";
}

<br />
<h1 style="color:aliceblue; font-family:Cambria">Aktualności</h1>
<br />

<div style="padding-top: 50px;" align="center">
    <h2 style="color:aliceblue; font-family:Cambria">Wysyłanie plików</h2>
    <img src="~/ViewImages/uploadnews.png" style="width:100px;" />
    <p style="color:aliceblue; font-family:Cambria; font-size:19px; padding-top:5px;">
        Całowicie, bezpiecznie oraz bezproblemowo wysyłaj zdjęcia do chumry z każdego miejsca na ziemi, z nieograniczona prędkościa.
    </p>
</div>
<hr />
<div style="padding-top: 50px;" align="center">
    <h2 style="color:aliceblue; font-family:Cambria">Przechowywanie plików w chmurze</h2>
    <img src="~/ViewImages/cloudnews.png" style="width:100px;" />
    <p style="color:aliceblue; font-family:Cambria; font-size:19px; padding-top:5px;">
        Przechowuj tyle zdjęc ile, tylko potrzebujesz dzięki nielimitowanej ilości miejsca na dane przez cały okres ważności konta. Nasz serwis hostingowy przeochowuje zasoby prywatnie i bezpiecznie.
    </p>
</div>
<hr />
<div style="padding-top: 50px;" align="center">
    <h2 style="color:aliceblue; font-family:Cambria">Dołacz do nas</h2>
    <img src="~/ViewImages/joinus.png" style="width:100px;" />
    <p style="color:aliceblue; font-family:Cambria; font-size:19px; padding-top:5px;">
        Tysiące osób zaufało naszej ofercie. Ty także możesz to zrobić.
    </p>
</div>